h1, footer {
    background-color: #3399ff;
    color: #ffffff;
    padding:1rem;
    margin: 2rem, auto;
    border-radius: 10px;
    text-align: center;
}
h2 {
    text-align: left;
}
#container {
    display: inline-block;
    width: 700px;
}