h1, footer {
    background-color: #3399ff;
    color: #ffffff;
    padding:1rem;
    margin: 1.5rem, auto;
    border-radius: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2, h1, nav {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container {
    display: inline-block;
    width: 700px;
}
body {
    text-align: center;
}
img {
    width: 200px;
    height: 240px;
    margin-top: 50px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgb(66, 83, 139);
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}

