h1, h2, h3{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: teal;
    padding: 1rem;
}

section {
    max-width: 500px;
    text-align: justify;
    margin: 30px 10px;
    border: solid 1px black;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1rem;
}

img {
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
}

