body {
    font-family: 'Quicksand', sans-serif;;
}
header, footer {
    display: flex;
    flex-flow: column;
    background-color: lightslategray;
    text-align: center;
}
h2 {
    text-align: center;
}
footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: lightcoral;
    padding: 0
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a.menu {
    background-color: lightcoral;
}

nav ul li a:hover {
    background-color: lightpink;
}
nav ul.hide {
    display: none;
}
main {
    width: %;
    margin: 0 auto;
    padding: 10px;
}
.hero {
    position: relative;
    margin: 10 px auto;
    width: 100%;
    overflow: hidden;
    background-color:#6B8E23;
    border: 1px solid #556b2f;
}
.hero picture img {
    width: 100%;
    padding: 2rem;
}
.weatherSummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightpink;
    border: 3px solid #556b2f;
    padding: 15px;
    opacity: .85;
    font-size: 1rem;
}
.map {
    background-color:#6B8E23;
    border: 1px solid #556b2f;
}
.contactInfo {
    text-align: justify;
}
.contentbox {
    display: block;
    margin: 10pt auto;
    border: 1px solid;
    padding: 15px;
    color: slategray;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }