/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .images {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
   nav ul li a {
        padding: .6rem 1rem;
    }
    figcaption {
        display: flex;
        text-align: center;
    }
}