@media only screen and (min-width: 64rem) {
    nav ul li a {
        padding: .6rem 1rem;
    }
    table {
        text-align: center;
        border-collapse: collapse;
    }
    table tr th {
        border: 1px solid;
    }
    table tr td {
        border: 1px solid;
    }
    .forecast {
        display: flex;
        flex-flow: column;
        text-align: center;
        border: 1px solid;
        max-width: 600px;
        border-collapse: collapse;
    } 
}