body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #ffffff;
}

body header h1 {
    padding: 10px;
    max-width: 0 auto;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 50pt;
}

header,
footer {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #464646;
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

nav {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #40e0d0;
    padding: 0
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a.menu {
    background-color: #40e0d0;
}

nav ul li a:hover {
    background-color: #AFEEEE;
}

nav ul.hide {
    display: none;
}
main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
} 

.cozumel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

picture .sources {
    width: 100%;
}
.cozumelWeather {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #40e0d0;
    border: 3px solid #464646;
    padding: 15px;
    opacity: .85;
    font-size: 1rem;
}
section.cozumelWeather p {
    font-size: 16pt;
}
button {
    background-color: #ffd9aa;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    color: #464646;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    width: 100%;
    margin-top: 7px;
}
button:hover {
    background-color: #ffbe88;
}
main p {
    color: #464646;
    font-size: 30pt;
}

.forecast {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}



/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

