body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #ffffff;
}

body header h1 {
    padding: 10px;
    max-width: 0 auto;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 50pt;
}

header,
footer {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #464646;
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #40e0d0;
    padding: 0
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a.menu {
    background-color: #40e0d0;
}

nav ul li a:hover {
    background-color: #AFEEEE;
}

nav ul.hide {
    display: none;
}
 main div picture .sources {
    
 }




/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

