body {
    font-family: 'Quicksand', sans-serif;
    
}
body header h1 img {
    padding: 10px;
    max-width: 0 auto;
    
}
header, footer {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    text-align: center;
}
h2 {
    text-align: center;
}
footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }