body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F5DC;
}

body header h1 img {
    padding: 10px;
    max-width: 0 auto;
}

header,
footer {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    text-align: center;
}

h2 {
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav {
    margin: 0 auto;
    max-width: 1000px;
    background-color: lightcoral;
    padding: 0
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a.menu {
    background-color: lightcoral;
}

nav ul li a:hover {
    background-color: lightpink;
}

nav ul.hide {
    display: none;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #6B8E23;
    border: 1px solid #556b2f;
}

picture .sources {
    width: 100%;
}

.weatherSummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightpink;
    border: 3px solid #556b2f;
    padding: 15px;
    opacity: .85;
    font-size: 1rem;
}

.map {
    background-color: #6B8E23;
    border: 1px solid #556b2f;
}

.prestonMap {
    display: none;
}

.contactInfo {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.forecast {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.article img {
    float: left;
    padding: 1em;
}

table {
    border-collapse: collapse;
}


section h4 {
    background-color: olivedrab;
    color: white;
    font-size: 2rem;
    
}

h4, ul {
    text-align: center;
    list-style-type: none;
}

li {
    font-size: 1.5rem;
    margin: 1%;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}