body {
    font-family: 'Quicksand', sans-serif;;
}
header, footer {
    display: flex;
    flex-flow: column;
    background-color: lightslategray;
    text-align: center;
h2 {
    text-align: center;
}
}
footer a {
    color: black;
    text-decoration: none;
}
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: lightcoral;
    padding: 0
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a.menu {
    background-color: lightcoral;
}

nav ul li a:hover {
    background-color: lightpink;
}
nav ul.hide {
    display: none;
}
.contentbox {
    display: block;
    margin: 10pt auto;
    border: 1px solid;
    padding: 15px;
    color: slategray;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }