/*main design for all page headers and homepage*/
body {
    font-family: 'Quicksand', sans-serif;
}
header, footer {
    display: flex;
    flex-flow: column;
    background-color: lightslategray;
    text-align: center;
}
footer a {
    color: black;
    text-decoration: none;
}
nav {
    background-color: lightcoral;
}
nav ul li a {
    display: block;
    color: black;
    font-size: 1.75rem;
    padding: .5rem;
    text-decoration: none;
    float: left;

}
nav ul {
   display: block;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

}
nav a:hover {
    background: lightpink;
    color: black;
}
