/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {
    nav ul li a {
        padding: .6rem 1rem;
    }
    main {
        display: grid;
        grid-template-columns: repeat(3, fr);
        border: 3px solid olivedrab;
    }
}