/*Basic CSS header for weather page*/

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F5DC;
}

body header h1 img {
    padding: 10px;
    max-width: 0 auto;
}

header,
footer {
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    text-align: center;
}

h2 {
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav {
    margin: 0 auto;
    max-width: 1000px;
    background-color: lightcoral;
    padding: 0
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a.menu {
    background-color: lightcoral;
}

nav ul li a:hover {
    background-color: lightpink;
}

nav ul.hide {
    display: none;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main {
    border: 3px solid olivedrab;
}

main div.city section {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid olive;
    margin: 1rem;
}

main section h2 {
    font-size: 2.25rem;
    margin: 3px;
}

main section h3 {
    font-size: 1.25rem;
    margin: 1rem;
    text-align: center;
}

main section p {
    font-size: 1rem;
    margin: 1rem;
}