/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav ul li a {
        padding: .6rem 1rem;
    }
    .contactInfo {
        float: right;
        padding: 4em;
    }
    form label.top input, form label.top select {
        max-width: 20rem;
    }
    form input.submitBtn {
        max-width: 20rem;
    }
    form label.radio {
        padding: .4rem;
        
    }
    
}