table,
thead,
th,
tr,
td,
tbody,
tfoot {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

table {
    width: 350px;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 15px 10px 15px #628ca6;
}

thead th {
    background-color: #7fb9c2;
    color: #000000
}

tfoot td {
    background-color: #7fb9c2;
    font-size: 1rem;
}

th,
td {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

th {
    font-weight: bolder;
}

tbody th {
    background-color: #628ca6;
    color: #ffffff
}

.november {
    background-color: #628ca6;
}

b:first-child {
    color: white;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}