@media only screen and (min-width: 32.5rem) {
    nav button {
        display: none;
    }
    nav ul.hide {
        display: block;
    }
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    div.city section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section p {
        margin: auto;
    }
    section:nth-child(odd) img {
        grid-column: 2;
        grid-row: 3/4;
    }
    section:nth-child(odd) p,
    section:nth-child(odd) h2,
    section:nth-child(odd) h3 {
        grid-column: 1;
    }
    section:nth-child(even) img {
        grid-column: 1;
        grid-row: 3/4;
    }
    section:nth-child(even) p,
    section:nth-child(even) h2,
    section:nth-child(even) {
        grid-column: 2;
    }
}